<h3>Filtrage</h3>
<input type="number"  (keyup)="onkeyup($event)" class="form-control form-control-lg" id="element" placeholder="Filtrage par nombre d'élement">
<input type="number"  (keyup)="onkeyup($event)" class="form-control form-control-lg" id="element" placeholder="Filtrage par Pseudo">
<ngb-carousel>
  <div *ngFor="let collegue of collegues | slice:0:limite">
    <ng-template ngbSlide>
      <a routerLink="/detail/{{collegue.pseudo}}"><img src={{collegue.imageUrl}} class="img-fluid" alt="Photo du collegue"/></a>
      <div class="carousel-caption">
        <h3 [innerHTML]="collegue.score|score"></h3>
        <app-un-collegue [collegue]="collegue"></app-un-collegue>
      </div>
    </ng-template>
  </div>
</ngb-carousel>
