<h3>Filtrage</h3>
<input type="number"  (keyup)="onkeyup($event)" class="form-control form-control-lg" id="element" placeholder="Filtrage par nombre d'élement">
<input type="text"  (keyup)="nomChercher($event)" class="form-control form-control-lg" id="element" placeholder="Filtrage par Pseudo">
<div class="row">
  <div class="col-sm-3" *ngFor="let collegue of collegues | pseudo:nom | slice:0:limite ">
    <div class="card text-center">
      <a routerLink="/detail/{{collegue.pseudo}}"><img class="img-fluid" src={{collegue.imageUrl}} alt="Photo du collegue" width="100%" height="250px" style="border-radius:100"/></a>
      <div class="card-body">
        <h4 class="card-title text-center"> {{collegue.pseudo | uppercase}}</h4>
        <h2 class="card-text text-center"[innerHTML]="collegue.score|score"></h2>
        <app-un-collegue [collegue]="collegue"></app-un-collegue>
      </div>
    </div>
  </div>
