<h3>Filtrage</h3>
<input type="number"  (keyup)="onkeyup($event)" class="form-control form-control-lg" id="element" placeholder="Filtrage par nombre d'élement">
<input type="number"  (keyup)="onkeyup($event)" class="form-control form-control-lg" id="element" placeholder="Filtrage par Pseudo">
<table class="table">
  <thead>
    <th scope="col">

    </th>
    <th scope="col">
      Pseudo
    </th>
    <th scope="col">
      Score
    </th>
    <th scope="col">
      Actions
    </th>
  </thead>
    <tbody>
      <tr *ngFor="let collegue of collegues | slice:0:limite">
        <th scope="row">
          <a routerLink="/detail/{{collegue.pseudo}}"><img class="rounded mx-auto d-block" src={{collegue.imageUrl}} alt="Photo du collegue" height="200px" style="border-radius:100"/></a>
        </th>
        <td>
          {{collegue.pseudo | uppercase}}
        </td>
        <td>
        <h3 [innerHTML]="collegue.score|score"></h3>
        </td>
        <td>
          <app-un-collegue [collegue]="collegue"></app-un-collegue>
        </td>
      </tr>
    </tbody>
</table>
