<div class="card bg-light mb-3" style="max-width : 50rem;">
  <div class="card-body">
    <h1>
      Top Collègues
    </h1>
    <h6>Les meilleurs collègues du moment</h6>
    <form>
      <div class="form-group">
        <label for="pseudo">Pseudo</label>
        <input type="text" #pseudo class="form-control" id="pseudo" placeholder="Pseudo">
      </div>
      <div class="form-group">
        <label for="url">URL image</label>
        <input type="text" #imageurl class="form-control" id="url" placeholder="URL image">
      </div>
      <button (click)="add(pseudo,imageurl)" class="btn btn-primary">Ajouter un nouveau collègue</button>
    </form>
  </div>
</div>
<div class="row">
  <div class="text-center card col-3" *ngFor="let collegue of collegues">
      <app-un-collegue [collegue]="collegue"></app-un-collegue>
  </div>
</div>

{{collegues | json}}
<ngb-alert (close)="hit = true" [hidden]="hit"  role="alert">
  Le collègue a été ajouté avec succès
</ngb-alert>
